<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TASKS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>

    <div id="tasking" class="container">

        <div class="row  justify-content-center align-items-center">
            <form class="col-md-6">
                <div class="form-group">
                    <hr>
                    <div class="form-control">

                        <div>
                            <!-- FORM PARA AGREGAR UNA NUEVA TAREA -->
                            <form @submit="checkForm">
                                <h3>AGREGAR UNA NUEVA TAREA</h3>
                                <!--MENSAJES QUE APARECERAN PARA LA VALIDACION DE CAMPOS -->
                                <p v-if="validaciones.leght" class="form-control">
                                    <b>Revisar:</b>
                                    <ul>
                                        <li v-for="error in validaciones">{{ error }}</li>
                                    </ul>
                                </p>
                                <!--DESCRIPCION DE LA TAREA -->
                                <p class="form-control">
                                    <label for="descripcion">DESCRIPCION DE TAREA: </label>
                                    <input id="descripcion" v-model="task.descripcion" type="text" name="descripcion">
                                </p>
                                <!-- FECHA DE LA TAREA -->
                                <p class="form-control">
                                    <label for="fecha">FECHA DE TAREA: </label>
                                    <input id="fecha" v-model="task.fecha" type="date" name="fecha">
                                </p>
                                <!-- SELECCIONADOR DE LA PRIORIDAD DE LA TAREA-->
                                <p class="form-control">
                                    <label >ELECCIONE LA PRIORIDAD</label>
                                    <select v-model="option">
                                        <option v-for="option in options" v-bind:value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                </p>
                                <!--BOTÓN PARA EL ENVIO DE LA TAREA -->
                                <p>
                                    <input type="button" class="btn btn-success" @click="addTask" value="AGREGAR">
                                </p>
                            </form>
                        </div>

                    </div>
                    <hr>
                    <!-- LISTADO DE TAREAS SIN CUMPLIR-->
                    <h3>TAREAS SIN CUMPLIR</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td v-for="titulo in titulos">{{titulo}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in tasks">
                                <td>{{task.descripcion}}</td>
                                <td>{{task.fecha}}</td>
                                <td><span class="label label-info">{{task.prioridad}}</span></td>
                                <td><input type="button" class="btn btn-success" @click="checkedTask(task.id)" value="MARCAR TAREA"></td>
                                <td><input type="button" class="btn btn-danger" @click="deleteTask(task.id)" value="ELIMINAR"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--LISTADO DE TAREAS CUMPLIDAS-->
                    <h3>TAREAS CUMPLIDAS</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td v-for="titulo in titulos">{{titulo}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in tasks1">
                                <td>{{task.descripcion}}</td>
                                <td>{{task.fecha}}</td>
                                <td><span class="label label-info">{{task.prioridad}}</span></td>
                                <td><input type="button" class="btn btn-success" @click="checkedTask(task.id)" value="DESMARCAR TAREA"></td>
                                <td><input type="button" class="btn btn-danger" @click="deleteTask(task.id)" value="ELIMINAR"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</body>

<script src="./src/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./src/MiVue.js"></script>

</html>